In [6]:
import pandas as pd
import numpy as np

In [15]:
df = pd.DataFrame(np.zeros((10000,2)))
dfs = pd.DataFrame(np.zeros((100,2)))

In [9]:
df

        0    1
0     0.0  0.0
1     0.0  0.0
2     0.0  0.0
3     0.0  0.0
4     0.0  0.0
...   ...  ...
9995  0.0  0.0
9996  0.0  0.0
9997  0.0  0.0
9998  0.0  0.0
9999  0.0  0.0

[10000 rows x 2 columns]

In [36]:
# append 1-by-1
def fun1(df,dfs):
    for i in range(0,10):
        df = df.append(dfs)
        df.info
    return df

In [47]:
# append 1-by-1
def fun2(df,dfs):
    dfs0 = dfs
    for i in range(1,10):
        dfs0 = dfs0.append(dfs)
    return df.append(dfs0)

In [38]:
fun1(df,dfs)

      0    1
0   0.0  0.0
1   0.0  0.0
2   0.0  0.0
3   0.0  0.0
4   0.0  0.0
..  ...  ...
95  0.0  0.0
96  0.0  0.0
97  0.0  0.0
98  0.0  0.0
99  0.0  0.0

[11000 rows x 2 columns]

In [49]:
fun2(df,dfs)

      0    1
0   0.0  0.0
1   0.0  0.0
2   0.0  0.0
3   0.0  0.0
4   0.0  0.0
..  ...  ...
95  0.0  0.0
96  0.0  0.0
97  0.0  0.0
98  0.0  0.0
99  0.0  0.0

[11000 rows x 2 columns]

In [50]:
%timeit fun1(df,dfs)

7.07 ms ± 62.9 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [51]:
%timeit fun2(df,dfs)

6.3 ms ± 33.2 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)